<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siricherukuri.manavata">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SnacksTime"/>
        <activity android:name=".LunchTime" />
        <activity android:name=".BreakfastTime" />
        <activity android:name=".YogaTime" />
        <activity android:name=".ContactUsActivity"/>
        <activity android:name=".YogaActivity" />
        <activity android:name=".HealthyCookingActivity" />
        <activity android:name=".SunriseTime" />
        <activity android:name=".WakeUpTime" />
        <activity android:name=".DailySchedulePage" />
        <activity android:name=".lifecoachbutton" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".WhoAreWeAcitivity" />
        <activity android:name=".WhatDoWeDoActivity" />
        <activity android:name=".PhilosophyActivity" />
        <activity android:name=".OurWorkActivity" />
        <activity android:name=".OurTeamActivity" />
        <activity android:name=".MissionActivity" />
        <activity android:name=".FounderActivity" />
        <activity android:name=".AboutManavataActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".EmailActivity" />
        <activity android:name=".GoogleEmailActivity" />
        <activity android:name=".FacebookActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>