<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siricherukuri.manavata">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/manavatalogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
           <activity android:name=".ContactUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".YogaActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HealthyCookingActivity" android:screenOrientation="portrait" />
        <activity android:name=".DailySchedulePage" android:screenOrientation="portrait"/>
        <activity android:name=".lifecoachbutton" android:screenOrientation="portrait"/>
        <activity android:name=".HomeScreen" android:screenOrientation="portrait"/>
        <activity android:name=".WhoAreWeAcitivity" android:screenOrientation="portrait" />
        <activity android:name=".WhatDoWeDoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PhilosophyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".OurWorkActivity" android:screenOrientation="portrait"/>
        <activity android:name=".OurTeamActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MissionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FounderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AboutManavataActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SignInActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EmailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".GoogleEmailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FacebookActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
